//Sección busqueda

.busqueda {
    display: none;

    .contenedor_busqueda {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 600px;

        .foto_gif {
            display: flex;
            justify-content: center;
            width: calc((100% - 10px) / 2);
            height: auto;
            background: blue;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    }

    .boton {
        border: 1px solid #572ee5;
        border-radius: 25px;
        border-radius: 25px;
    }
}

@media screen and (min-width: 768px) {
    .introduccion {
        display: flex;
        flex-direction: column;
        #gif_gif {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 182px;
            margin: 0px;

            img:first-child {
                width: 260px;
                height: 200px;
            }

            .hide {
                display: none;
            }

            .fav-down-max:hover {
                img:nth-child(2) {
                    display: inline-block;
                    width: 25px;
                    position: relative;
                    top: -73px;
                    right: 85px;
                    margin: 0px;
                }

                img:nth-child(3) {
                    display: block;
                    width: 25px;
                    position: relative;
                    top: -73px;
                    right: 81px;
                    margin: 0px;
                }

                img:nth-child(4) {
                    display: block;
                    width: 25px;
                    position: relative;
                    top: -73px;
                    right: 77px;
                    margin: 0px;
                }
            }

        }
    }
}
